<%-include("partials/header");-%>

<h1>Compose</h1>
<form action="/compose" method="post">
    <label for="postTitle">Title</label>
    <br>
    <input type="text" name="postTitle" autocomplete="off" required>
    <br>
    <label for="post">Post</label>
    <br>
    <textarea name="postBody" cols="70" rows="7" required></textarea>
    <br>
    <button class="btn-primary" type="submit" name="button" style="border-radius: 3px; color: white;">Publish</button>
</form>

<a href="/" style="text-decoration: none;">Go To Home</a>

<%-include("partials/footer");-%>